@import 'variables.less';

@sidebar-width: 200px;
@menu-transition-duration: 0.4s;
@nav-hover-duration: 0.2s;

body {
  background-color: @body-bg;
}

.login-form {
  margin: 150px auto 0 auto;
  max-width: 350px;
}

.login-actions {
  margin-top: 10px;
}

.sidebar {
  margin-top: 50px;
  width: @sidebar-width;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: @color-dark;
  transition: transform @menu-transition-duration ease-in-out, width @menu-transition-duration ease-in-out;

  @media (max-width: @screen-xs-max) {
    transform: translate(-@sidebar-width);
  }

  .nav-list-item {
    .nav-link {
      color: @nav-link-color;
      transition: background-color @nav-hover-duration ease-in-out, color @nav-hover-duration ease-in-out;

      &:hover {
        color: @nav-link-hover-color;
      }
    }

    &.active {
      background-color: @nav-link-active-bg;

      .nav-link {
        color: @nav-link-active-color;
      }
    }
  }
}

.content-wrapper {
  margin-left: @sidebar-width;
  transition: transform @menu-transition-duration ease-in-out, margin @menu-transition-duration ease-in-out;

  @media (max-width: @screen-xs-max) {
    margin-left: 0;
  }
}