<nav class="navbar navbar-default top-nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{vm.session.user.login}}, ucz się angielskiego!</a>
    </div>

    <div class="collapse navbar-collapse" id="main-menu-collapse">
      <ul class="nav navbar-nav visible-xs">
        <li ui-sref-active="active"><a ui-sref="app.dashboard" data-toggle="collapse" data-target="#main-menu-collapse">Strona główna</a></li>
        <li ui-sref-active="active"><a ui-sref="app.learning" data-toggle="collapse" data-target="#main-menu-collapse">Rozpocznij naukę</a></li>
        <li ui-sref-active="active"><a ui-sref="app.wordsDatabase.categories" data-toggle="collapse" data-target="#main-menu-collapse">Baza słówek</a></li>
        <li ui-sref-active="active"><a ui-sref="app.profile" data-toggle="collapse" data-target="#main-menu-collapse">Mój profil</a></li>
        <li ui-sref-active="active"><a ui-sref="app.settings" data-toggle="collapse" data-target="#main-menu-collapse">Ustawienia</a></li>
        <li><a ng-click="vm.logout()" data-toggle="collapse" data-target="#main-menu-collapse">Wyloguj</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="sidebar">
  <ul class="nav">
    <li ui-sref-active="active" class="nav-list-item"><a ui-sref="app.dashboard" class="nav-link">Strona główna</a></li>
    <li ui-sref-active="active" class="nav-list-item"><a ui-sref="app.learning" class="nav-link">Rozpocznij naukę</a></li>
    <li ui-sref-active="active" class="nav-list-item"><a ui-sref="app.wordsDatabase.categories" class="nav-link">Baza słówek</a></li>
    <li ui-sref-active="active" class="nav-list-item"><a ui-sref="app.profile" class="nav-link">Mój profil</a></li>
    <li ui-sref-active="active" class="nav-list-item"><a ui-sref="app.settings" class="nav-link">Ustawienia</a></li>
    <li class="nav-list-item"><a ng-click="vm.logout()" class="nav-link">Wyloguj</a></li>
  </ul>
</div>

<div class="content-wrapper" content-height>
  <div class="page-loader" ng-show="pageLoading">
    <i class="fa fa-spinner fa-spin"></i>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <ui-view></ui-view>
      </div>
    </div>
  </div>
</div>