<h3>Słówka</h3>

<uib-progressbar max="100" value="vm.progress"></uib-progressbar>

<p>
  <span class="word">{{vm.currentWord.english}}</span>
  <span class="translation" ng-class="{good: vm.correct, bad: !vm.correct}">{{vm.correctTranslation}}</span>
</p>

<form ng-submit="vm.submitForm()" name="form">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Wpisz tłumaczenie tutaj" name="translation" ng-model="vm.formData.translation" ng-disabled="vm.disableInput" focus-input required autocomplete="off">

    <span class="input-group-btn">
      <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">{{vm.states[vm.action]}}</button>
    </span>
  </div>
</form>

<br />

<div class="table-responsive" ng-if="vm.results.length">
  <table class="table">
    <thead>
      <tr>
        <th>L.p.</th>
        <th>Słowo</th>
        <th>Twoje tłumaczenie</th>
        <th>Poprawne tłumaczenie</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="result in vm.results" ng-class="{success: result.correct, danger: !result.correct}">
        <td>{{result.lp}}.</td>
        <td>{{result.english}}</td>
        <td>{{result.answer}}</td>
        <td>{{result.polish}}</td>
      </tr>
    </table>
  </tbody>
</div>

<!--<br />-->

<!--<form ng-submit="vm.submitProposedTranslationForm()" name="proposedTranslationForm">-->
  <!--<div class="input-group">-->
    <!--<input type="text" class="form-control" placeholder="Zaproponuj inne tłumaczenie" name="proposedTranslation" ng-model="vm.formData.proposedTranslation" required autocomplete="off">-->

    <!--<span class="input-group-btn">-->
      <!--<button type="submit" class="btn btn-primary" ng-disabled="proposedTranslationForm.$invalid"><span ng-if="vm.requestSent"><i class="fa fa-refresh fa-spin"></i></span> Wyślij</button>-->
    <!--</span>-->
  <!--</div>-->
<!--</form>-->