<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 login-form-wrapper">
      <form class="login-form" ng-submit="vm.submitForm()" name="form">
        <div class="alert alert-danger" ng-show="vm.formError">
          <span class="glyphicon glyphicon-exclamation-sign"></span>
          {{vm.formError}}
        </div>

        <div class="form-group" ng-class="{'has-error': form.email.$dirty && form.email.$invalid}">
          <input type="email" class="form-control input-lg" placeholder="Adres e-mail" name="email" ng-model="vm.formData.email" required>
          <div ng-show="form.email.$dirty">
            <div class="help-block with-errors" ng-show="form.email.$error.required">{{vm.validationErrors.emptyField}}</div>
            <div class="help-block with-errors" ng-show="form.email.$error.email">{{vm.validationErrors.incorrectEmail}}</div>
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error': form.password.$dirty && form.password.$invalid}">
          <input type="password" class="form-control input-lg" placeholder="Hasło" name="password" ng-model="vm.formData.password" required>
          <div ng-show="form.password.$dirty">
            <div class="help-block with-errors" ng-show="form.password.$error.required">{{vm.validationErrors.emptyField}}</div>
          </div>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="vm.formData.rememberMe"> Zapamiętaj mnie
          </label>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="form.$invalid"><i class="fa fa-refresh fa-spin" ng-show="vm.requestSent"></i> Zaloguj</button>
        </div>

        <div class="row">
          <div class="col-xs-6">
            <a href="">Przypomnij hasło</a>
          </div>

          <div class="col-xs-6 text-right">
            <a href="">Zarejestruj</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>